@page
@model Lazztech.ObsidianPresences.ClientFacade.Pages.Events.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Manage Event</h2>
<br />
<br />

<div class="row">
    <div class="col-md-4">
        <h2>Mentors</h2>
        <p>
            Number of Mentors: @Model.Mentors.Count()
        </p>
        <button type="button" class="btn btn-dark"><a href="Admin/Mentors">Manage Mentors</a></button>
    </div>
    <div class="col-md-4">
        <h2>Teams</h2>
        <p>Number of registered Teams: @Model.Teams.Count()</p>
        <button type="button" class="btn btn-dark"><a href="Admin/Teams">Manage Teams</a></button>
    </div>
    <div class="col-md-4">
        <h2>Judges</h2>
        <p>Number registered Judges: @Model.Judges.Count()</p>
        <button type="button" class="btn btn-dark"><a href="Admin/Judges">Manage Judges</a></button>
    </div>
</div>