@page
@model Lazztech.Cloud.ClientFacade.Pages.Marketing.Admin.InstagramNodes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>InstagramNode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InstagramNode.InstagramNodeId" />
            <div class="form-group">
                <label asp-for="InstagramNode.UserName" class="control-label"></label>
                <input asp-for="InstagramNode.UserName" class="form-control" />
                <span asp-validation-for="InstagramNode.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramNode.Email" class="control-label"></label>
                <input asp-for="InstagramNode.Email" class="form-control" />
                <span asp-validation-for="InstagramNode.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramNode.Password" class="control-label"></label>
                <input asp-for="InstagramNode.Password" class="form-control" />
                <span asp-validation-for="InstagramNode.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramNode.DateStarted" class="control-label"></label>
                <input asp-for="InstagramNode.DateStarted" class="form-control" />
                <span asp-validation-for="InstagramNode.DateStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramNode.Link" class="control-label"></label>
                <input asp-for="InstagramNode.Link" class="form-control" />
                <span asp-validation-for="InstagramNode.Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramNode.FocusGroupId" class="control-label"></label>
                <select asp-for="InstagramNode.FocusGroupId" class="form-control" asp-items="ViewBag.FocusGroupId"></select>
                <span asp-validation-for="InstagramNode.FocusGroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
