@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
  <div class="row">
    <div class="col">
        <h4>Processed Snapshots</h4>
        <hr>
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://media.licdn.com/dms/image/C5603AQEXOnwgWJn5NA/profile-displayphoto-shrink_200_200/0?e=1539820800&v=beta&t=Lc-yvKAqRLfSVbxS6ptUSebw6OZA6z8ByKiNYzS9hUE" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Gian Lazzarini</h5>
            <p class="card-text">Seen: August 18, 2018</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="btn btn-primary">Show All Occurences</a>
        </div>
        </div> 

        @foreach(var snap in Model.Snapshots)
        {
            foreach(var person in snap.People)
            {
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@snap.ImageDir" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@person.Name</h5>
                    <p class="card-text">Seen: @snap.DateTimeWhenCaptured.ToString()</p>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <a href="#" class="btn btn-primary">Show All Occurences</a>
                </div>
                </div>
                <br />   
            }
        }
        
    </div>
    <div class="col">
        <h4>Known Persons</h4>
        <hr>
    </div>
  </div>
</div>