@page
@model Lazztech.ObsidianPresences.ClientFacade.Pages.Events.Admin.Mentors.IndexModel
@{
    ViewData["Title"] = "Index";
    var properties = typeof(HackathonManager.DTO.Mentor).GetProperties();
}

<h2>Mentors</h2>
<br />
<br />

@using (Html.BeginForm())
{
    <div class="col">
        <p>Number of mentors: @Model.Mentors.Count()</p>
        <a class="btn btn-primary" href="/Mentors/Create">Add New</a>
        @*<a class="btn btn-primary" href="/Mentors/PullMentors">@ViewBag.MentorsToPull New Mentors To Pull From SRND</a>*@
        <br />
        <br />

        <table class="table table-striped table-dark table-responsive">
            <thead>
                <tr>
                    <td></td>
                    @{
                        foreach (var property in properties)
                        {
                            <th>@property.Name</th>
                        }
                    }
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var mentor in Model.Mentors)
                    {
                        <tr>
                            <td><a class="btn btn-primary" href="/Mentors/Edit?id=@mentor.GuidId">Edit</a></td>
                            @foreach (var value in mentor.GetType().GetProperties())
                            {
                                <td>@value.GetValue(mentor, null)</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}


