@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">We saw this on your camera today:..</p>
    <p class="lead">Your plants are blank today:..</p>
</div>

<h4>Dashboard</h4>
<hr>

<p>Graph about vision</p>
<p>Graph about plants</p>